/CapoeiraLyrics/.idea/*
/CapoeiraLyrics/gen/*
/CapoeiraLyrics/out/*
/CapoeiraLyrics/src/com/alximik/capoeiralyrics/network/Constants.java
/LibraryProjects/android-actionbar/johannilsson-android-actionbar-1830dfd/actionbar/pom.xml
/LibraryProjects/android-actionbar/johannilsson-android-actionbar-1830dfd/README.md
/LibraryProjects/android-actionbar/johannilsson-android-actionbar-1830dfd/.gitignore
/LibraryProjects/android-actionbar/johannilsson-android-actionbar-1830dfd/actionbarexample/*

/LibraryProjects/android-segmentedradiobutton/.idea/*
/LibraryProjects/android-segmentedradiobutton/.gitignore
/LibraryProjects/android-segmentedradiobutton/out/*
/LibraryProjects/lorensiuswlt-NewQuickAction/bin/*

/LibraryProjects/android-actionbar/johannilsson-android-actionbar-1830dfd/actionbar/gen/*
/LibraryProjects/android-segmentedradiobutton/gen/*

out/*
.idea/*

/CapoeiraLyrics/libs/ormlite-android-4.41-sources.jar
/CapoeiraLyrics/libs/ormlite-core-4.41-sources.jar
/CapoeiraLyrics/libs/SwipeViewDemo/*